@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Montserrat';
}

.contenedor{
	display:flex;
	flex-flow: row wrap;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	background: linear-gradient(to bottom, #191919, #000);
	color:#fff;
	height:100vh;
	width:100vw;
}

	
